.container{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(6, 75px);
    padding-left: 500px;
}

.pantalla{
    border: 1px solid blue;
    grid-column: 1/5;
    grid-row: 1/2;
    color: black;
    background-color: gainsboro;
}

.tecla{
    border: 1px solid blue;
    background-color: yellowgreen;
    text-align: center;
    line-height: 75px;
}

.tecla:hover{
    background-color: coral;
}/*este bloque sirve para que al posicionar el cursor sobre
una caja, esta cambie de color*/